:root {
  --chakra-fonts-body: unset;
}

@font-face {
  font-family: "apple";
  src: url("/fonts/subsetAppleSDGothicNeoR.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "apple";
  src: url("/fonts/subsetAppleSDGothicNeoB.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

html {
  background-color: var(--gray-100);
}
body {
  font-family: apple;
  font-size: 14px;
  background-color: white;
  color: var(--gray-800);
}
b {
  color: #00c2b3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ReactQueryDevtoolsPanel {
  height: 320px !important;
}

#__next {
  min-width: 340px;
  max-width: 628px;

  min-height: 100dvh;
  margin: 0 auto;
  background-color: white;

  overflow-x: hidden;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
}
@media (min-width: 628px) {
  #__next {
    border-left: var(--border);
    border-right: var(--border);
  }
}

.CircularProgressbar-trail {
  strokewidth: 1;
}
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next:after {
  display: none;
}
