:root {
  --max-width: 390px;

  --shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-lg: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  --gray-900: #222222;
  --gray-800: #424242;
  --gray-700: #5f5f60;
  --gray-600: #7c7d7e;
  --gray-500: #a0a1a3;
  --gray-400: #cecfd0;
  --gray-300: #e2e3e5;
  --gray-200: #ececee;
  --gray-100: #f6f6f7;
  --gray-50: #fcfcfc;

  --color-mint: #00c2b3;
  --color-mint-light: rgba(0, 194, 179, 0.1);

  --border: 1px solid var(--gray-200);
  --border-thick: 2px solid var(--gray-900);
  --border-mint: 2px solid var(--color-mint);
  --border-mint-light: 1px solid var(--color-mint);

  --rounded: 4px;
  --rounded-lg: 8px;
  --rounded-max: 12px;

  --gap-5: 20px;
  --gap-4: 16px;
  --gap-3: 12px;
  --gap-2: 8px;
  --gap-1: 4px;

  --header-height: 46px;

  --header-h: 56px;

  --view-max-width: calc(var(--max-width) - 2 * var(--gap-4));
  --color-yellow: #ffd747;
  --color-red: #f26363;
  --color-blue: #4c7aef;
  --color-green: #30d368;

  --input-bg: var(--gray-200);
}
